*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
.img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
/* header css*/
.fixedwidth{
    width: 1270px;
    margin: auto;
}
.header{
    background-color: #f5deb3;
}
.header-left{
     float: left;
     width: 30%;
}
.header-left img{
    margin-top: 15px;
     width: 175px;
     height: auto;
}
.header-right{
      float: right;
      width: 70%;
}
.header-right ul{
    list-style: none;
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-right: -4px;
}
.header-right ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    border-right: 1px solid white;
    line-height: 63px;
    transition: .5s;
}
/* .header-right ul li a:hover{
    background-color: #f6daa7;
} */
/* banner css*/
.banner{
    background: url(./intro-bg.jpg) 50% no-repeat;
    background-size: cover;
    padding: 230px 0;
}
.banner-caption h2{
       color: #3498db;
       display: inline-block;
       margin-top: -200px;
       font-size: 30px;
}
.banner-caption h1{
    color: #3498db;
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
}
/* about css*/

.about{
    padding: 100px 0;
}
.about-item {
    padding: 0 20px;
}
.about-item .about-img{
    float: left;
    width: 30%;
}
.about-item .about-img img {
    height: 270px;
    width: 270px;
    margin-left: 70px;
}
.about-item .about-text {
    float: right;
    width: 70%;
}
.about-item .about-text h2 {
    font-size: 37px;
    margin-bottom: 15px;
    text-align: left;
}
.about-item .about-text h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}
.about-item .about-text p {
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}
.about-text-div {
    margin-left: 100px;
}

/* services css*/
.services{
    background-color: #fffaf0;
    padding: 100px 0;
}
.service-item {
    float: left;
    width: 31.3%;
    border: 3px dashed #d7d5d3;
    border-radius:  60px 0 60px 0;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    padding: 40px 20px 40px 20px;
}
.service-item span{
    display: block;
    height: 50px;
    width: 50px;
    background:#3498db;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin: auto;
    color: white;
    border-radius: 20px 0 20px 0;
}
.service-item h3{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
}
.service-item p{
       font-size: 20px;
       text-align: center;
}

/* container*/
.container{
   margin-top: 50px;
}
.container-left{
    float: left;
    width: 70%;
}
.blogitem{
     margin-bottom: 30px;
}
.blogitem img{
    float: left;
    width: 35%;
    max-width: 100%;
}
.blogitem p{
    float: right;
    width: 60%;
  font-size: 23px;
}
.container-right{
    float: right;
    width: 25%;
}
.container-right h2{
    font-size: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.noticeitem{

}
.noticeitem ul{
    list-style: none;
}
.noticeitem ul li{
    background: #fafafa;
    text-align: center;
    border: 1px solid black;
    padding: 20px 10px;
    font-size: 16px;
    border-radius: 5px;
}
/* footer*/


.footer{
    background: #34495e;
}
.footerleft{
    float: left;
    width: 50%;
    padding: 10px 0;
}
.footerleft p {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}


.footerright{
    float: right;
    width: 50%;
    text-align: right;
}
.socialmenu{
    list-style: none;
}
.socialmenu li{
    text-align: right;
     display: inline-block;
}
.socialmenu li a {
    color: white;
    font-size: 20px;
    padding: 9px 20px;
    margin-left: -5px;
    line-height: 52px;
    transition: .5S;
}
.socialmenu li a:hover{
    background: #0b1116;
}